// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #f3f3f3 !important;
}

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}

.bgNavidad{
  background-color: red;
}
.txtUp{
  text-transform: uppercase;
  color: #be1c1d;
  font-weight: bold;
  letter-spacing: -1px;
}
.txtWhite{
  color:white;
  

}

table.button.warning table a{
  color: #be1c1d;
}

table.button:hover table tr td a,
table.button:active table tr td a,
table.button table tr td a:visited,
table.button.tiny:hover table tr td a,
table.button.tiny:active table tr td a,
table.button.tiny table tr td a:visited,
table.button.small:hover table tr td a,
table.button.small:active table tr td a,
table.button.small table tr td a:visited,
table.button.large:hover table tr td a,
table.button.large:active table tr td a,
table.button.large table tr td a:visited {
  color: $button-color;
}

table.button.large table a{
  padding: 5px 25px 5px 25px;
}

/* Upper */
.bgnewyear {
  background-color: #27282a !important;
  
  background-size: cover;
  background-repeat: no-repeat !important;

}

.bgColorNewYear {
  background-color: #27282a !important;

}

.upper {
  text-transform: uppercase;
}

.bigTitle {
  font-size: 40px;
  font-weight: 550;

}

.gold {
  color: #c9984f;
}

.strech {
  letter-spacing: -3px;
}

th.columns {
  padding-bottom: 0;
}


@media only screen and (max-width:596px) {
  .bgnewyear {
      background-size: contain !important;
  }

  .bigTitle {
      font-size: 30px;
      font-weight: 400;

  }

  .strechText {
      letter-spacing: -1px;
  }
}

.body .columns th.large-1 {
  width: 11.5% !important;
}