
.white{
    color : white;
}
.bold{
    font-weight: 700;
}
@media screen and (max-width: 596px) {
    .titleResp {
        font-size: 16px !important;
        padding: 0 8px;
    }

    .subResp {
        font-size: 10px !important;
    }

    .bigTitleR {
        font-size: 40px !important;
    }

    .midTitleR {
        font-size: 20px !important;
    }

    .curTitleR {
        font-size: 30px !important;
    }

    .offerR {
        text-align: center !important;
        margin-bottom: 0 !important;
    }

    .wishR {
        font-size: 19px !important;
    }
    .dsctR{
        font-size: 10px;
    }


}