/* 
Debajo de sodexo logo
bold 38px mayusculas centrado
#4f80b7  

sobre la imagen centrado
bold 16px mayusculas
#4f80b7

titulo debajo de la imagen centrado
bold 16px  
#e6e686
color de fondo 
#4f80b7

contenido centrado
bold 28px mayuscula
#4f80b7

beneficios empresa
bold 20px #4f80b7 centrado

listados
bold 11px mayuscula 
#4f80b7

titulo del beneficio 
bold 20px #4f80b7


boton llamada a la accion
#ffffff bold 18px 
background : #4f80b7

Mas información
17px centrado bold 
#4f80b7

texto descripcion de informacion
17px regular #5a5a5a centrado

Siguenos 16px #5a5a5a centrado

sodexo beneficios e incetivos regular 16px #5a5a5a */
$primary : #4f80b7;
$secondary : #e6e686;
$terciary : #5a5a5a;
$terciarybg : #ecf1f7;

.textCenter{
    text-align: center;
}

.textBold{
    font-weight: 700;
}

.textUpper{
    text-transform: uppercase;
}

.primaryColor{
    color: $primary;
}

.secondaryColor{
    color: $secondary;
}

.terciaryColor{
    color: $terciary;
}

.primaryBgColor{
    background-color: $primary;
}

.secondaryBgColor{
    background-color: $secondary;
}
.terciaryBgColor{
    background-color: $terciarybg;
}
.textNoMargin{
    margin:0 !important;
}
.textWidthPadding{
    padding-left:16px !important;
}
.textWidthPaddingR{
    padding-right:16px !important;
}
.textSize38{
    font-size: 35px;
}


.textSize20{
    font-size: 20px
}

.textSize18{
    font-size: 20px
}

.textSize17{
    font-size: 20px
}

.textSize16{
    font-size: 16px;
}

.textSize14{
    font-size: 14px
}

.textSize11{
    font-size: 11px
}
.textSpacing{
    letter-spacing: -1px;
}